.container {
    padding: 10px;
    margin-bottom: 10px;
    height: 300px;
    width: 300px;
    overflow: hidden; 
    margin:0; 
    float: left;
}

.container img {
    margin: 10px;
    padding: 10px;
    border: 1px solid #333333;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: clear;
}


